#game-tiles {
/*	game-tiles*/
}
.row{
/*	background-color: blue;*/
	clear: both;
}
.column{
	float: left;
	/*background-color: green;*/
	width: 120px;
	height: 120px;
	border: 1px solid black;
}
.X {
	background-color: blue;
}
.O {
	background-color: red;
}